/* ========== Navigation ========== */
.header-wrapper {
    width: 100%;
    margin: auto;
    background-color: lightgray;
    box-sizing: border-box;
  }
  .header-wrapper nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-wrapper nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav ul li {
    padding: 1.2em;
  }